<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>F</key>
	<dict>
		<key>g</key>
		<integer>-18</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>quotedblright</key>
		<integer>-35</integer>
		<key>quoteright</key>
		<integer>-25</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>t</key>
		<integer>-3</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>period</key>
		<integer>-12</integer>
		<key>quotedblright</key>
		<integer>50</integer>
		<key>quoteright</key>
		<integer>45</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>g</key>
		<integer>-28</integer>
	</dict>
	<key>ta_ksha</key>
	<dict>
		<key>uni0BC1</key>
		<integer>-256</integer>
		<key>uni0BC2</key>
		<integer>-256</integer>
	</dict>
	<key>uni0BB6</key>
	<dict>
		<key>uni0BC1</key>
		<integer>-144</integer>
		<key>uni0BC2</key>
		<integer>-144</integer>
	</dict>
	<key>uni0BB7</key>
	<dict>
		<key>uni0BC1</key>
		<integer>-256</integer>
		<key>uni0BC2</key>
		<integer>-240</integer>
	</dict>
	<key>uni0BB8</key>
	<dict>
		<key>uni0BC1</key>
		<integer>-256</integer>
		<key>uni0BC2</key>
		<integer>-208</integer>
	</dict>
	<key>uni0BB9</key>
	<dict>
		<key>uni0BC1</key>
		<integer>-224</integer>
		<key>uni0BC2</key>
		<integer>-208</integer>
	</dict>
</dict>
</plist>
