<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>F</key>
	<dict>
		<key>g</key>
		<integer>-18</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>ta_ksha</key>
		<integer>-55</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>quotedblright</key>
		<integer>-35</integer>
		<key>quoteright</key>
		<integer>-25</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>t</key>
		<integer>-3</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>period</key>
		<integer>-12</integer>
		<key>quotedblright</key>
		<integer>50</integer>
		<key>quoteright</key>
		<integer>45</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>g</key>
		<integer>-28</integer>
	</dict>
	<key>ta_ha</key>
	<dict>
		<key>ta_vowu</key>
		<integer>-224</integer>
		<key>ta_vowuu</key>
		<integer>-208</integer>
	</dict>
	<key>ta_ja</key>
	<dict>
		<key>ta_vowu</key>
		<integer>-125</integer>
		<key>ta_vowuu</key>
		<integer>-125</integer>
	</dict>
	<key>ta_ksha</key>
	<dict>
		<key>ta_vowu</key>
		<integer>-204</integer>
		<key>ta_vowuu</key>
		<integer>-211</integer>
	</dict>
	<key>ta_sa</key>
	<dict>
		<key>ta_vowu</key>
		<integer>-256</integer>
		<key>ta_vowuu</key>
		<integer>-208</integer>
	</dict>
	<key>ta_sha</key>
	<dict>
		<key>ta_vowu</key>
		<integer>-256</integer>
		<key>ta_vowuu</key>
		<integer>-188</integer>
	</dict>
	<key>ta_ssa</key>
	<dict>
		<key>ta_vowu</key>
		<integer>-144</integer>
		<key>ta_vowuu</key>
		<integer>-144</integer>
	</dict>
</dict>
</plist>
